<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n</Property>
    </Properties>
    <CustomLevels>
        <CustomLevel name="SETTINGS" intLevel="350" />
    </CustomLevels>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true"  >
            <PatternLayout pattern="${pattern}" />
        </Console>
        <File
                fileName="${ctx:filePath}.txt"
                name="logFile">
            <PatternLayout pattern="${pattern}" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="logFile" />
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>